.u-inner
  h2: span 家族、弁護士、税理士にも相談できない廃業の#[br.sp]悩みを社長と一緒に解決していきます！
  .box
    .img: +img("action/img01.png", "")
    .txts
      h3 電話での相談はこちら
      .tel 03-6555-2767
      p.copy: span 今スグ、廃業の悩みを相談
      .btn
        a(href="")
          +img("action/btn.png", "")
