.u-inner
  +ttl1("会社概要")
  table
    tbody
      tr
        th 会社名称
        td 株式会社リスタートスタイル
      tr
        th サービス名
        td 廃業支援センター
      tr
        th 設立
        td 2021年2月
      tr
        th 代表取締役
        td 西澤佳男
      tr
        th 所在地
        td 〒104-0031 東京都中央区京橋１丁目１−５ セントラルビル2階　fabbit京橋
      tr
        th 事業内容
        td 廃業支援事業

