.u-inner
  +ttl1("相談の流れ")
  p.lead 廃業経験のある廃業コーディネーターが、#[br.sp]あなたの次を見据えた廃業を支援します！
  .img: +pic("flow/img_step.png", "flow/img_step_sp.png", "")
  dl
    dt: span 廃業支援センター サービス概要
    dd 経営者が事業の手じまいを考える時、適切な相談相手が必要になります。#[br.pc]廃業支援センターでは廃業経験があるスタッフが、孤独な経営者に寄り添い相談にあたります。#[br.pc]また独自のネットワークにより、廃業に強い弁護士や会計士と廃業に向けてのチームを作り、#[br.pc]廃業スケジュールの策定を支援します。経営者の経済的・心理的な傷口を広げる事なく廃業に取り組むことによって、#[br.pc]経営者自身の再チャレンジを支援します。




