h2 こんな#[strong #[span お]#[span 悩]#[span み]]ありませんか？
.img1: +pic("intro/img01.png", "intro/img01_sp.png", "")

section.secSupport
  .u-inner
    h3
      +img("intro/sup_ttl.svg", "")
      span の心強い#[strong ３]つの支え

    ul
      li
        .img: +img("intro/sup_img01.png", "")
        dl
          dt 廃業経験者が社長を支援
          dd 経営者が事業の手じまいを考える時、適切な相談相手が必要になります。本事業では廃業経験がある廃業コーディネーターが、孤独な経営者に寄り添い相談にあたります。
      li
        .img: +img("intro/sup_img02.png", "")
        dl
          dt 廃業に強い専門家ネットワーク
          dd 独自のネットワークにより、廃業に強い弁護士・会計士・税理士などの専門家の紹介を行い、廃業に向けてのチーム作り、スケジュールの策定・実施を支援します。
      li
        .img: +img("intro/sup_img03.png", "")
        dl
          dt 次のチャレンジを見据えた提案
          dd 長年、事業を続けてきた経営者の経験や知恵が持つ価値は、廃業というステージを経ても何等変わる事がありません。痛みや苦しみを乗り越えた経営者の新たなチャレンジを支援致します。



