.u-inner.spPd0
  h1: +pic("main/ttl.png", "main/ttl_sp.png", "")

.bg
  .u-inner.spPd0
    .catch: +pic("main/catch.png", "main/catch_sp.png", "")
    p.txt 廃業支援センターが御社の廃業と#[br.sp]あなたの再チャレンジをサポートします。
    .btn
      a(href="#pos-form")
        +img("main/btn.png", "")



