.u-inner
  +ttl1("廃業相談員メッセージ")
  p.lead 私も廃業の経験があります。自分が経営していた会社が危機的な状況に陥った時に、#[br.pc]従業員、お客様、取引先の事を考えると、「申し訳ない。どうしよう、、、」と様々な思いがめぐって#[br.pc]気持ちの整理が出来ない状況になってしました。#[br.pc]会社を畳むという決断は、どの経営者にとっても大きな判断になります。#[br.pc]#[br]なんとか会社を存続させようと、ギリギリまで借入を重ねて苦しい思いをされてきた社長も多く見てきました。#[br.pc]会社の事を思い葛藤や迷いが生まれるのは当然です。私は、早めの判断が経営者の再スタートに繋がると考えています。#[br.pc]今後の会社と自分の事で少しでも不安な事があれば、ご連絡ください。#[br.pc]#[br]一緒に生き残り方を見つけていきましょう。

  .profBox
    .img: +img("message/img01.png", "")
    .txts
      h3 プロフィール
      p 2007年にIT関連の専門コンサルとして起業。経営者として10年間の経験を経て、地域のもの作り企業をM&Aにより取得。自身の経営能力に関する過信により、業績不振に陥り、民事再生の手続きをとる。起業2回、廃業2回、うち民事再生1回。廃業に縁のある経歴を活かして、『前向きな廃業を増やし、再チャレンジしやすい社会環境を作るをミッション』に「廃業支援センター」株式会社リスタートスタイル設立(2021年2月)　 東京都リスタート・アントレプレナー支援事業アクセラレーションプログラム採択者

