.u-inner
  +ttl1("お客様の声")

  ul
    li
      .img: +pic("voice/icn01.png", "voice/icn01_sp.png", "解決")
      p 今まで、廃業するなんて恥ずかしくて誰にも話せなかったです。#[br.pc]家族は利害関係者だし、税理士さんも地域で長年お願いしている方だったので廃業の事なんて、とても相談できなかったです。#[strong 会社を閉じた経験のある相談員]さんにお話を聞いて頂き、少しだけ前向きに進んでみようと思いました。提案してもらった事が親展してなんとか着地点を見つけれそうです。#[br.pc]あのタイミングで相談して良かったです。(５０代女性　運送業)

    li
      .img: +pic("voice/icn02.png", "voice/icn02_sp.png", "解決")
      p もう、やりようが無いと思っていました。まだ選択肢があるという事に気づけたことが有り難い。#[br.pc]移住を含めた提案をされて時は、正直びっくりしました。ただ、思い切って拠点を移して、#[br.pc]#[strong 新たな食材や地域のパートナーと出会えた事はとても良かったです。]東京になた時より、#[br.pc]血圧が下がったのが思わぬ収穫です。(笑)(４０代男性　飲食業)

    li
      .img: +pic("voice/icn03.png", "voice/icn03_sp.png", "解決")
      p 私も、もう年だしこれ以上仕事を続けていってお客様に迷惑をかけてはいけないと常々考えていました。#[br.pc]事業承継なんて数年前までは他人事のように感じていました。ただ、#[strong M&Aという選択肢がベター]だと#[br.pc]今は思っています。会社を廃業した経験がある相談員の前向きな提案がありがたかったです。#[br.pc]　(７０代男性　製造業)





