//- ---------------------
	      変数用pug
	-----------------------

//- ----- サイト情報 --------------------//
- var siteUrl = "サイトのURL/"
- var title = "ページのタイトル"
- var siteTitle = "サイトのタイトル"
- var desc = "サイトのディスクリプション"
- var ogImgPath = siteUrl + "ogimg.png"


//- ----- パス --------------------//
- var path = "common/"
//- 画像パス
- var imgPath = path + "img/"
//- cssパス
- var cssPath = path + "css/"
//- jsパス
- var jsPath = path + "js/"


//- ----- その他 --------------------//
//- breakpoint
- var spW = "(max-width: 767px)"


