include /_include/_mixin.pug

doctype html
html(lang="ja")
  head
    include /_include/_head.pug

  body
    .l-wrapper
      include /_include/_header.pug


      main.l-cont
        article.mainZone
          include /_index_cont/_main.pug

        article.introZone
          include /_index_cont/_intro.pug

        article.messageZone
          include /_index_cont/_message.pug

        article.actionZone
          include /_index_cont/_action.pug

        article.voiceZone
          include /_index_cont/_voice.pug

        article.flowZone
          include /_index_cont/_flow.pug

        article.companyZone
          include /_index_cont/_company.pug

        a.scrlPos#pos-form(name="pos-form")
        article.formZone
          include /_index_cont/_form.pug


      include /_include/_footer.pug
