@charset "UTF-8";

/*--------------------------------------
 レイアウト
---------------------------------------*/
.l-wrapper{
//  &:before,
//  &:after{
//    content: "";
//    display: block;
//    background-color: #f00;
//    width: 1px;
//    height: 100vh;
//    position: fixed;
//    top: 0;
//    left: 50%;
//    z-index: 1000;
//  }
//  &:before{
//    margin-left: -500px;
//  }
//  &:after{
//  }
}


.l-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 81px;
  padding: 0 17px 0 22px;
  @include mq{
    padding: 0 0 0 vw(22);
    border-bottom-width: vw(10);
  }
  h1{
    @include mq{
      width: vw(202);
    }
  }
  .contact{
    display: flex;
    align-items: center;
    @include mq{
      display: none;
    }
    .tel{
      display: flex;
      align-items: center;
      font-size: 2.7rem;
      font-weight: $fwBlk;
      @include mq{
      }
      &:before{
        content: "";
        display: block;
        background: url($pathImg + "icn_tel.svg") 0 0 no-repeat;
        width: 26px;
        height: 26px;
        margin-right: 7px;
        @include mq{
        }
      }
    }
    .btn{
      margin-left: 26px;
      @include mq{
      }
      a{
        display: block;
        @include hvrBrt;
      }
    }
  }
}


.l-cont{
}


.l-pankz{
}


.l-footer{
  padding: 92px 0 50px;
  @include mq{
    padding: vw(50) 0;
  }
  .copyright{
    text-align: center;
    .img{
      img{
        @include mq{
          width: vw(202);
        }
      }
    }
    p{
      margin-top: 1.0em;
      font-size: 1.1rem;
    }
  }
}


