section#secColor
  h2.sgTtl: span 色

  ul.sgColors
    li.u-mainColor
      span .u-mainColor
      span #f00
    li.u-subColor
      span .u-subColor
      span #0f0
    li.u-accentColor
      span .u-accentColor
      span #00f
    li.u-red1
      span .u-red1
      span rgba(200,0,0,1.0)
    li.u-red1_a50
      span .u-red1_a50
      span rgba(200,0,0,0.5)


section#secTtl
  h2.sgTtl: span タイトル

  h2.u-ttl1 .u-ttl1
  pre.codeBox.
    .u-ttl1 テキスト

  h2.u-ttl2 .u-ttl2
  pre.codeBox.
    .u-ttl2 テキスト


section#secBtn
  h2.sgTtl: span ボタン

  .btnWrap
    a.u-btn1.sz1.clr1(href="") .u-btn1.sz1.clr1
    a.u-btn1.sz1.clr2(href="") .u-btn1.sz1.clr2
  pre.codeBox.
    a.u-btn1.sz1.clr1(href="") ボタンテキスト
    a.u-btn1.sz1.clr2(href="") ボタンテキスト
  ul.sgTxtList1
    li aタグに.btn1を設定
    li 「.sz」でサイズ(font-sizeとpaddingなど)
    li 「.clr」で色(background-colorとcolorなど)


section
  h2.sgTtl: span 複製用
  h3.sgTtl2 複製用
  pre.codeBox.
    複製用
  p.sgTxt 複製用





