.scrlBox
  ul
    li: a.clkScrl(href="#secColor") 色
    li: a.clkScrl(href="#secTtl") タイトル
    li: a.clkScrl(href="#secBtn") ボタン
  p クリックでスクロールは
    br
    |aタグに.clkScrlを設定する
    br
    |移動先はhref="#～"で指定
  p .clkScrlの停止位置を調整する場合は.clkScrl2など増やしていく




