@charset "UTF-8";

/*--------------------------------------
 メインコンテンツ
---------------------------------------*/
article:not(.mainZone){
//  display: none;
}
.mainZone{
  background: url($pathImg + "main/bg_wrap.png") center center no-repeat #f1f2ee;
  border-top: 10px solid $orange1;
  border-bottom: 10px solid $orange1;
  position: relative;
  overflow: hidden;
  @include mq{
    background: none;
    border-top-width: vw(7);
    border-bottom: none;
  }
  &:before{
    content: "";
    display: block;
    background: url($pathImg + "main/person.png") 0 0 no-repeat;
    width: 580px;
    height: 587px;
    margin-left: -117px;
    position: absolute;
    bottom: -10px;
    left: 50%;
    @include mq{
      background-size: contain;
      width: vw(210);
      height: vw(220);
      top: vw(20);
      bottom: auto;
      left: auto;
      right: vw(15);
    }
  }
  .u-inner{
    position: relative;
  }
  .partT{
    @include mq{
      background: url($pathImg + "main/bg_wrap_sp.png") center top no-repeat #f1f2ee;
      background-size: cover;
    }
  }
  h1{
    padding: 42px 0 0px 13px;
    @include mq{
      padding: vw(21) 0 vw(20) vw(14);
    }
    img{
      @include mq{
        width: vw(206);
      }
    }
  }
  .bg{
    padding-bottom: 36px;
    @include mq{
      background-color: $orange1;
      padding-bottom: vw(24);
      text-align: center;
      position: relative;
    }
  }
  .catch{
    margin-top: -5px;
    margin-bottom: 6px;
    padding-left: 8px;
    @include mq{
      margin-bottom: vw(-13);
      padding-left: 0;
      position: relative;
      top: vw(-15);
    }
    img{
      @include mq{
        width: vw(349);
      }
    }
  }
  .txt{
    margin-bottom: 28px;
    padding-left: 11px;
    color: #0E0E0E;
    font-size: 1.6rem;
    font-weight: $fwBlk;
    @include mq{
      margin-bottom: vw(14);
      padding-left: 0;
      color: #fff;
      font-size: 1.8rem;
      line-height: (26/18);
    }
  }
  .btn{
    @include mq{
      padding-left: vw(12);
      padding-right: vw(12);
    }
    a{
      display: inline-block;
      @include hvrBrt;
      @include mq{
        display: block;
      }
      img{
        @include mq{
          width: 100%;
        }
      }
    }
  }
  

}
